<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script th:src="@{~/script-api/Get-filters.js}"></script>
  <script type="text/javascript">

  		function add() {
  		
  			  	var  newdiv=$('#addfilter').parent().parent()[0].outerHTML;
  			$('#addfilter').parent().parent().before("<hr class='mb-4' id='hr'>");
  			$('#addfilter').parent().replaceWith("<div class='col-md-2 mb-2'><button type='button' name='deletefilter' id='deletefilter' class='btn btn-danger btn-circle' onclick='supp(this);'><i class='material-icons' style='color:white'>delete_forever</i></button></div>");
  			$('#hr').before(newdiv);

  			}
  		function supp(e)
  		{			console.log($(e).val());
  					$(e).parent().parent().prev().remove();
  			    	$(e).parent().parent().remove();
  		}

  			
  		function addDisponible() {
  		
  			  	var  newdiv=$('#addFilterDisponible').parent().parent()[0].outerHTML;
  			$('#addFilterDisponible').parent().parent().before("<hr class='mb-4' id='hr2'>");
  			$('#addFilterDisponible').parent().replaceWith("<div class='col-md-2 mb-2'><button type='button' name='deletefilter' id='deletefilter' class='btn btn-danger btn-circle' onclick='supp(this);'><i class='material-icons' style='color:white'>delete_forever</i></button></div>");
  			$('#hr2').before(newdiv);
  			var champfilter=$('#hr').prev().children().children().children().attr('champfilter');
			$('#hr2').prev().children().next().children().val(champfilter)
  			}
  		function supp(e)
  		{			console.log($(e).val());
  					$(e).parent().parent().prev().remove();
  			    	$(e).parent().parent().remove();
  		}
		function changeinput(e)
		{
			var champfilter=$('option:selected', e).attr('champfilter');
			$(e).parent().next().children().val(champfilter);
		}

  </script>

<head>
<title></title>
<div th:replace="fragments/head :: head"></div>
</head>

<body id="page-top">
	<!-- Page Wrapper -->
	<div id="wrapper">
		<!--  sidebar -->
		<div th:insert="fragments/sidebar :: sidebar"></div>
		<!--  end sidebar -->
		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">
			<!-- Main Content -->
			<div id="content">
				<!--  topbar -->
				<div th:insert="fragments/topbar :: topbar"></div>
				<!--  end topbar -->

				<!-- Begin Page Content -->
				<div class="container-fluid" id="page-content">

          <!-- Page Heading -->
          

          

          <div class="row">

            <div class="col-lg-12">

              <!-- Default Card Example -->
              

              <!-- Basic Card Example -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Ajout d'une Etat</h6>
                </div>
                <div class="card-body">
                <form class="needs-validation" method="post" action="/upload" enctype="multipart/form-data" >
            <div class="row">
              <div class="col-md-4 mb-3 ">
                <label for="rapportid">Identifiant Du Rapport</label>
                <input type="number" class="form-control" id="rapportid" name="rapportid"placeholder="rapport Stock" required>
              </div>
              <div class="col-md-4 mb-3 ">
                <label for="rapportName">Nom Du Rapport</label>
                <input type="text" class="form-control" id="rapportName" name="rapportName"placeholder="rapport Stock" required>
              </div>
            
              <div class="col-md-4 mb-3 ">
                <label for="sujet">Sujet</label>
                <select class="custom-select d-block w-100 animated--grow-in" id="sujet" name="sujet"required>
                  <option value="ACHAT" selected>Achat</option>
                  <option value="STOCK">Stock</option>
                  <option value="DEPENCE">Depence</option>
                  <option value="TRAVAUX">Travaux</option>
                  <option value="TEMPS">Temps</option>
                </select>
              </div>
               
              
            </div>
            <hr class="mb-4">
            <div class="row">
            	<div class="col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">filters</h6>
                </div>
                <div class="card-body">
                	 <div class="row">
Nom Du Filter
            <div class="col-md-2 mb-2">
             <input type="text" name="filterNom" class="form-control"  placeholder="Filter Date" required>
            </div>
Champ Du Filter
              <div class=" col-md-2 mb-2">
             		<input type="text" name="filterChamp" placeholder="ST_DATEFIN" class="form-control" required>
            </div>
          Type Filter
              <div class="col-md-2 mb-2">
             <select name="filterType" class="form-control" required>
             	<option value="text" selected >text</option>
             	<option value="number">number</option>
             	<option value="date">Date</option>
             </select>
            </div>
              <div class="col-md-2 mb-2">
           
                	 	<button type="button" name="addfilter" id="addfilter" class="btn btn-success btn-circle" onclick="add()" ><i class="material-icons"  style='color:white'>add</i></button>
                	 	<button type='button' name='deletefilter' id='deletefilter' class='btn btn-danger btn-circle' onclick='supp(this);'><i class='material-icons' style='color:white'>delete_forever</i></button> 
            </div>
        </div>
       
 




        </div>
    </div>
    </div>
        </div>
            
            <div class="row">
            	<div class="col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">filters disponible</h6>
                </div>
                <div class="card-body">
                	 <div class="row"  >
						Nom Du Filter
           			 <div class="col-md-3 mb-2">
             			<select name="filtersDisponible" class="form-control" placeholder="Filter Date" required="" id="filters" onchange="changeinput(this)">
       
             			</select>
           			 </div>	Champ Du Filter
           			 <div class="col-md-3 mb-2" id="filterschamps">
             			<input type="text" name="filterNom" class="form-control" placeholder="Filter Date" disabled>
           			 </div>
              <div class="col-md-3 mb-2">
           
                	 	<button type="button" name="addFilterDisponible" id="addFilterDisponible" class="btn btn-success btn-circle" onclick="addDisponible()"><i class="material-icons" style="color:white">add</i></button>
                	 	<button type='button' name='deletefilter' id='deletefilter' class='btn btn-danger btn-circle' onclick='supp(this);'><i class='material-icons' style='color:white'>delete_forever</i></button>
            </div>
          

        </div>
        </div>
    </div>
    </div>
        </div>
        <hr class="mb-4">

               <div class="custom-file">
    <input type="file" class="custom-file-input" id="validatedCustomFile"  name="file" required>
    <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
    <div class="invalid-feedback">Example invalid custom file feedback</div>
  </div> 
             
<hr class="mb-4">
            
            
            
            
            <button class="btn btn-primary float-right" type="submit">Continue to checkout</button>
          </form>
                </div>
              </div>

            </div>

            

          </div>

            

          </div>

        </div>
		
			<script th:if="${status} != null" th:inline="javascript">
     
         var message = /*[[${status}]]*/ 'default';   
         swal("Error",message,"error");
      </script>
			<!-- End of Content Wrapper -->
			<!--  footer -->
			<footer th:replace="fragments/footer :: footer"></footer>
			<!--  end footer -->
		</div>
		<!-- End of Page Wrapper -->
	</div>
</div>

		<!-- Bootstrap core JavaScript + Scroll to Top Button +  Logout Modal-->
		<div th:insert="fragments/js :: js"></div>
		<!--  end Bootstrap core JavaScript + Scroll to Top Button +  Logout Modal-->
		
</body>

</html>
