<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title></title>  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Custom fonts for this template-->
  <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}"></script>
  <link th:href="@{vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
  <link th:href="@{https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i}" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link th:href="@{css/sb-admin-2.min.css}" rel="stylesheet"><div th:replace="fragments/head :: head"></div>
 <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}"></script>
 <script th:src="@{/postrequest.js}"></script>
 <script th:src="@{/getrequest.js}"></script>
</head>

<body id="page-top">
	<!-- Page Wrapper -->
	<div id="wrapper">
		<!--  sidebar -->
				 <div th:replace="fragments/sidebar :: sidebar"></div>
      <!--  end sidebar -->
      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!--  topbar -->
           <div th:replace="fragments/topbar :: topbar"></div>
				<!--  end topbar -->

				<!-- Begin Page Content -->
				<div class="container-fluid" id="page-content">
					<!-- gestion-Utilisateur-->
					<div class="col-md-11 col-12 mr-auto ml-auto">
  <div class="row text-center">
              
          <!-- Page Heading -->
          <div class="wizard-container">
              <div class="card card-wizard active" data-color="rose" id="wizardProfile">
               
                  <!--        You can switch " data-color="primary" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
                  <div class="card-header text-center">
                    <h3 class="card-title">
                     Gestion des Utilisateurs
                    </h3>
                    <h5 class="card-description"></h5>
                  </div>
                  <div class="wizard-navigation">
                  <div class="card-body">
                    <div class="tab-content">
                     
                      <div class="tab-pane show active" id="account">
                      <div class="row">
                        <div class="col-xl-4  col-md-6 mb-4" id="traveau">
               <div class="col-md border-right py-4">
                    <span class="fa-stack fa-4x mb-4">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-trash fa-stack-1x fa-inverse"></i>
                    </span>
                    
                    
                    
                    <a th:href="@{#}"  data-toggle="modal"
								data-target="#suprimerutilisateur" class="btn  btn-primary btn-pill">Suppression d'un utilisateur</a>
                </div>
            </div>


            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-4 col-md-6 mb-4" id="achat">
            <div class="col-md border-right py-4">
                    <span class="fa-stack fa-4x mb-4">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                    </span>
                    
                    
                    
                    <a th:href="@{#}" data-toggle="modal"
								data-target="#ajoututilisateur" class="btn  btn-primary btn-pill">Ajout d'un utilisateur</a>

                </div>
            </div>


            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-4 col-md-6 mb-4" id="traveau">
               <div class="col-md border-right py-4">
                    <span class="fa-stack fa-4x mb-4">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa  fa-user-edit fa-stack-1x fa-inverse"></i>
                    </span>
                    
                    
                    
                    
								  <a th:href="@{#}" data-toggle="modal"
								data-target="#modifierutilisateur" class="btn  btn-primary btn-pill">Modification d'un utilisateur</a>
                </div>
            </div>

            
          </div>
</div>
                      </div>
                    </div>
                  </div>
                 <!-- <div class="card-footer">
                    
                    
                    <div class="clearfix"></div>
                  </div>-->
               
              </div>
            </div>
          </div>
            <!-- wizard container -->
          </div>
					<!--gestion-Utilisateur-->
					<!-- Page Heading -->
					<div class="row">

					<!-- Modal fade ajouter utilisateur-->
					<div class="modal fade" id="ajoututilisateur" tabindex="-1"
						role="dialog" aria-labelledby="exampleModalLabel"
						aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">

								<div class="modal-body">
									<button class="close" type="button" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">×</span>
									</button>
									<div class="card-header ">
										<h6 class="m-0 font-weight-bold text-primary">ajouter
											utilisateur</h6>
									</div>
									<div class="card-body">
										<form>
											<div class="form-group row">
												<label for="firstname" class="col-md-2 col-form-label">Nom</label>
												<div class="col-md-10">
													<input type="text" class="form-control" id="utilisateurNom"
														placeholder="Entrer le nom">
												</div>
												<label for="lastname" class="col-md-2 col-form-label">Prénom</label>
												<div class="col-md-10">
													<input type="email" class="form-control" id="utilisateurPrenom"
														placeholder="Entrer le prénom">
												</div>
												<label for="exampleInputEmail1"
													class="col-sm-2 col-form-label">Email address</label>
												<div class="col-md-10">
													<input type="email" class="form-control"
														id="utilisateurEmail" aria-describedby="emailHelp"
														placeholder="Entrer l'email"><small id="emailHelp"
														class="form-text text-muted">Nous ne partagerons
														jamais votre email avec qui que ce soit.</small>
												</div>
												<label for="exampleInputPassword1"
													class="col-sm-2 col-form-label">Mot de passe</label>
												<div class="col-md-10">
													<input type="password" class="form-control"
														id="utilisateurPassword" placeholder="Mot de passe">
												</div>
												<label for="exampleInputPassword1"
													class="col-sm-2 col-form-label"> Reécrire Mot de
													passe</label>
												<div class="col-md-10">
													<input type="password" class="form-control"
														placeholder="reécrire Mot de passe">
												</div>
												<div class="form-check form-check-inline">
													<label class="form-check-label" for="inlineCheckbox1">Cochez
														ici si vous allez ajouter un admin </label><input
														class="form-check-input" type="checkbox"
														id="utilisateurType" name="utilisateurType" value="ADMIN">

												</div>
											</div>
											<div class="modal-footer">
												<button class="btn btn-secondary" type="button"
													data-dismiss="modal">Cancel</button>
												<button type="button" id="ajoutForm" class="btn btn-primary">Ajouter</button>
											</div>

										</form>
										<div id="ajoutResult"></div>
									</div>
								</div>
							</div>

						</div>
					</div>
					<div class="modal fade" id="modifierutilisateur" tabindex="-1"
						role="dialog" aria-labelledby="exampleModalLabel"
						aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">

								<div class="modal-body">
									<button class="close" type="button" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">×</span>
									</button>
									<div class="card-header ">
										<h6 class="m-0 font-weight-bold text-primary">Modifier
											utilisateur</h6>
									</div>
									<div class="card-body">
										<form>
											<div class="form-group row">
												<label for="firstname" class="col-md-2 col-form-label">Rechercher</label>
												<div class="col-md-10">
													<input type="text" class="form-control" list="utilisateurs" id="updatefilter"name="utilisateur">
												<datalist id="utilisateurs">
  												</datalist>
												</div>
												<label for="firstname" class="col-md-2 col-form-label">Nom</label>
												<div class="col-md-10">
													<input type="text" class="form-control" id="utilisateurNom1"
														placeholder="Entrer le nom">
												</div>
												
												<label for="lastname" class="col-md-2 col-form-label">Prénom</label>
												<div class="col-md-10">
													<input type="text" class="form-control" id="utilisateurPrenom1"
														placeholder="Entrer le prénom">
												</div>
											
												<label for="exampleInputEmail2"
													class="col-sm-2 col-form-label">Email address</label>
												<div class="col-md-10">
													<input type="email" class="form-control"
														id="utilisateurEmail1" aria-describedby="emailHelp"
														placeholder="Entrer l'email" disabled="true"><small id="emailHelp"
														class="form-text text-muted">Nous ne partagerons
														jamais votre email avec qui que ce soit.</small>
												</div>
											
												<label for="exampleInputPassword1"
													class="col-sm-2 col-form-label">Mot de passe</label>
												<div class="col-md-10">
													<input type="password" class="form-control"
														id="utilisateurPassword1" placeholder="Mot de passe">
												</div>
													<div class="form-check form-check-inline">
													<label class="form-check-label" for="inlineCheckbox1">cochez
														ici si vous allez ajouter un admin</label><input
														class="form-check-input" type="checkbox"
														id="utilisateurType1" name="utilisateurType" value="ADMIN">

												</div>
												

											</div>
											<div class="modal-footer">
												<button class="btn btn-secondary" type="button"
													data-dismiss="modal">Cancel</button>
												<button type="submit" class="btn btn-primary">Modifier</button>
											</div>

										</form>
									</div>
								</div>
							</div>

						</div>
					</div>
					<div class="modal fade" id="suprimerutilisateur" tabindex="-1"
						role="dialog" aria-labelledby="exampleModalLabel"
						aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">

								<div class="modal-body">
									<button class="close" type="button" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">×</span>
									</button>
									<div class="card-header ">
										<h6 class="m-0 font-weight-bold text-primary">Modifier
											utilisateur</h6>
									</div>
									<div class="card-body">
<div class="row"><div class="col-sm-12 col-md-6"><div class="dataTables_filter"><label>Rechercher:<input  id="filter" type="search" class="form-control form-control-md" placeholder="" aria-controls="dataTable"></label></div></div></div>
  
									<div class="table-responsive">
										<table class="table table-hover">
											<thead>
												<tr>
													<th scope="col">ID</th>
													<th scope="col">Nom</th>
													<th scope="col">Prenom</th>
													<th scope="col">Email</th>
													<th scope="col">Type utilisateur</th>
													<th scope="col"></th>
												</tr>
											</thead>
											<tbody id="utilisateurtable">
												
											
											</tbody>
										</table>
										<div>
										</div>
									</div>
								</div>
								</div>
							</div>
						</div>
					</div>
					<div id="test"></div>
				</div>
			</div>
			</div>
			<!-- End of Content Wrapper -->
			<!--  footer -->
			<footer th:replace="fragments/footer :: footer"></footer>
			<!--  end footer -->
		</div>
		<!-- End of Page Wrapper -->


		<!-- Bootstrap core JavaScript + Scroll to Top Button +  Logout Modal-->
		<div th:insert="fragments/js :: js"></div>
		<!--  end Bootstrap core JavaScript + Scroll to Top Button +  Logout Modal-->
		
</body>

</html>
