<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
         xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
      <title>Sujet</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Custom fonts for this template-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">



<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">
    <!--  sidebar -->
      <div th:replace="fragments/sidebar :: sidebar"></div>
      <!--  end sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <!--  topbar -->
      <div th:insert="fragments/topbar :: topbar"></div>
       <!--  end topbar -->
        <!-- Begin Page Content -->
        <div class="container-fluid">
<div class="col-md-11 col-12 mr-auto ml-auto">
  <div class="row text-center">
              
          <!-- Page Heading -->
          <div class="wizard-container">
              <div class="card card-wizard active" data-color="rose" id="wizardProfile">
               
                  <!--        You can switch " data-color="primary" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
                  <div class="card-header text-center">
                    <h3 class="card-title">
                      Sujets
                    </h3>
                    <h5 class="card-description"></h5>
                  </div>
                  <div class="wizard-navigation">
                  <div class="card-body">
                    <div class="tab-content">
                     
                      <div class="tab-pane show active" id="account">
                      <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-5 col-md-6 mb-4" id="achat">
            <div class="col-md border-right py-4">
                    <span class="fa-stack fa-4x mb-4">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    
                    
                    
                    <a th:href="@{/Filter/ACHAT}" class="btn btn-lg btn-primary btn-pill">ACHAT</a>
                </div>
            </div>


            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-5 offset-xl-2 col-md-6 mb-4" id="traveau">
               <div class="col-md border-right py-4">
                    <span class="fa-stack fa-4x mb-4">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-truck fa-stack-1x fa-inverse"></i>
                    </span>
                    
                    
                    
                    <a th:href="@{/Filter/TRAVAUX}" class="btn btn-lg btn-primary btn-pill">TRAVAUX</a>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->

            <div class="col-xl-5 col-md-6 mb-4" id="temp">
              <div class="col-md border-right py-4">
                    <span class="fa-stack fa-4x mb-4">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-clock fa-stack-1x fa-inverse"></i>
                    </span>
                    
                    
                    
                    <a th:href="@{/Filter/TEMPS}" class="btn btn-lg btn-primary btn-pill">TEMPS</a>
                </div>
            </div>

            <!-- Pending Requests Card Example -->

            <div class="col-xl-5 offset-xl-2 col-md-6 mb-4" id="depence">
            <div class="col-md border-right py-4">
                    <span class="fa-stack fa-4x mb-4">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-dollar-sign fa-stack-1x fa-inverse"></i>
                    </span>
                    
                    
                    
                    <a th:href="@{/Filter/DEPENCE}" class="btn btn-lg btn-primary btn-pill">DEPENCE</a>
                </div>
            </div>
            <!-- Pending Requests Card Example -->

            <div class="col-xl-5 col-md-6 mb-4" id="stock">
            <div class="col-md border-right py-4">
                    <span class="fa-stack fa-4x mb-4">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-basket fa-stack-1x fa-inverse"></i>
                    </span>
                    
                    
                    
                    <a th:href="@{/Filter/STOCK}" class="btn btn-lg btn-primary btn-pill">STOCK</a>
                </div>
            </div>
          </div>
</div>
                      </div>
                    </div>
                  </div>
                 <!-- <div class="card-footer">
                    
                    
                    <div class="clearfix"></div>
                  </div>-->
               
              </div>
            </div>
          </div>
            <!-- wizard container -->
          </div>
          
      </div>
          <!-- /.container-fluid -->
     
        <!-- End of Main Content -->

        <!--  footer -->
          <footer th:replace="fragments/footer :: footer" ></footer>
        <!--  end footer -->

      </div>
      <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Bootstrap core JavaScript + Scroll to Top Button +  Logout Modal-->
      <div th:replace="fragments/js :: js"></div>
    <!--  end Bootstrap core JavaScript + Scroll to Top Button +  Logout Modal-->             
  </body>

  </html>
